<% provide(:title, @question.content) %>
<h1><%= @question.content %></h1>
<p><%= @question.answers.count %> answers</p>
 
<%= render @answers %>

<div class="answer">
	<h2>Got something to add?</h2>

    <%= form_for(@answer) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>
	  <div class="field clearfix">
	    <%= f.text_field :content, placeholder: "Answer this question", :class => '', :label => 'Question',  :tabindex => '1' %>
	  </div>
	  <%= f.hidden_field :question_id, :value => @question.id %>
    <% end %>
</div><!-- /.answer -->